<!DOCTYPE html>
<html>
  <head>
    <title>HelloWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%=link_to "Logout", destroy_user_session_path, method:"delete"%></li>
          <li><a href="/posts/index"><%=current_user.email%></a></li>
          <%=form_tag posts_search_path, method:"get" do%>
          <%=text_field_tag :search%>
          <%=submit_tag "Search" %>
          <% end %>
        <% else %>
          <li><a href="/users/sign_in">Login</a></li>
          <li><a href="/users/sign_up">Sign Up</a></li>          
        <% end %>
          
        
      </ul>
    </nav>
    
    <%= yield %>
  </body>
</html>
